# {{ ansible_managed }}
services:
  discord-bot:
    build:
      context: {{ control_api_src_dir }}
      dockerfile: docker/discord-bot.Dockerfile
    container_name: discord-bot
    restart: unless-stopped
    env_file:
      - {{ discord_bot_env_file }}
    networks:
      - {{ edin_app_network }}
    deploy:
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 128M

networks:
  {{ edin_app_network }}:
    external: true
