# {{ ansible_managed }}
[Unit]
Description=Galaxy Exporter Timer — run every {{ galaxy_exporter_timer_interval }}

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ galaxy_exporter_timer_interval }}
AccuracySec=1min

[Install]
WantedBy=timers.target
