[defaults]
inventory = inventories/prod/hosts.ini
vault_password_file = .vault_pass.txt
host_key_checking = False
retry_files_enabled = False
stdout_callback = community.general.yaml

[privilege_escalation]

become_method = sudo
